.section-calendar {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 40px;
}

.section-calendar_top-block {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.section-calendar_title {
  font-size: 24px;
  text-transform: uppercase;
}

.section-calendar_btn {
  background: #f6be84;
  border: 1px solid#E2806C;
  padding: 10px 40px;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}

.addition-btn {
  background: white;
  color: grey;
}

.btn-openEvent {
  cursor: none;
  opacity: 0;
}
.btn-openEvent.is-active {
  opacity: 1;
  cursor: pointer;
}

.section-calendar_select {
  border: 1px solid#f6be84;
  padding: 20px;
  font-size: 18px;
}

/* CALENDAR */
.calendar {
  border-collapse: collapse;
}

.calendar_title,
.calendar-time_title {
  background-color: #e26b92;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

tr {
  height: 70px;
}

td,
th {
  width: 300px;
  border: 1px solid#f6be84;
}

.calendar-time td {
  position: relative;
}

.calendar_cell {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #f5d8bc;
  font-size: 18px;
  line-height: 70px;
  text-align: center;
}

.calendar_cell--close {
  position: absolute;
  display: none;
  opacity: 1;
  cursor: none;
  top: 2px;
  right: 5px;
  width: 30px;
  height: 30px;
  line-height: 1;
  font-size: 25px;
}

.calendar.is-active .calendar_cell--close {
  display: block;
  cursor: pointer;
}



/* POPUP ADD EVENT */

.popup-event {
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(209, 149, 108, 0.7);
  z-index: 300;
  overflow: auto;
}

.popup-event.is-open {
  opacity: 1;
  pointer-events: initial;
}

.popup-event_form {
  position: relative;
  width: 500px;
  margin: 0 auto;
  margin-top: 120px;
  background-color: white;
  z-index: 400;
  border: 2px solid #e26b92;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
}

.popup-event_form--date {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.popup-event_form--date > * {
  flex-basis: 40%;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 20px;
}

.popup_close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
  font-size: 20px;
  color: #e26b92;
  background: #ffffff;
  z-index: 230;
  border: 1px solid white;
  cursor: pointer;
}

.popup-event_form--title {
  color: white;
  background-color: #e26b92;
  flex-basis: 40%;
  padding: 20px;
  margin-top: 0px;
  font-size: 25px;
}

.popup-event_input,
.popup-event_selector {
  border: 1px solid#f6be84;
}

.popup-event_input {
  padding: 10px;
  width: 220px;
  height: 23px;
}

.popup-event_selector {
  padding: 10px;
}

.popup_bnt_block {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.popup_bnt {
  padding: 10px;
  border: none;
  cursor: pointer;
  padding: 10px 50px;
  text-transform: uppercase;
  border: 1px solid#f6be84;
  background-color: white;
  font-size: 18px;
}

.popup_bnt:hover {
  background-color: #f5d8bc;
}

.popup_bnt_cancel {
  margin-right: 30px;
}

.block-participants {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.scrollbar-participants {
  position: absolute;
  top: 43px;
  width: 200px;
  height: 120px;
  border: 1px solid#f6be84;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
  overflow-y: scroll;
  display: none;
}

.block-participants_input {
    width: 180px;
}

.scrollbar-participants.is-open {
  display: block;
}

.scrollbar-participants div {
  padding-top: 10px;
  padding-left: 10px;
}

.scrollbar-participants div:hover {
  background-color: #f5d8bc;
}

.block-participants_btns {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.block-participants_btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #f5d8bc;
    text-align: center;
    margin-left: 10px;
}

.block-participants_btn:hover {
    background-color: #f5d8bc;
}


.over {
  background-color: rgba(241, 206, 195, 0.5);
}


.popup-login {
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(209, 149, 108, 0.7);
  z-index: 300;
  overflow: auto;
}

.popup-login.is-open {
  opacity: 1;
  pointer-events: initial;
}

.popup-login_wrapper {
  position: relative;
  width: 500px;
  min-height: 300px;
  margin: 0 auto;
  margin-top: 120px;
  background-color: white;
  z-index: 400;
  border: 2px solid #e26b92;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
}


.popup-login--title {
  text-align: center;
  color: #e26b92;
  flex-basis: 40%;
  padding: 20px;
  margin-top: 0px;
  font-size: 25px;
}


.popup_select-user {
  display: block;
  width: 200px;
  height: 50px;
  margin:  0 auto;
  margin-bottom: 50px;
}

.popup_select-user {
  padding:0px 30px;
}


.popup-login_btn {
    display: block;
    margin: 0 auto;
}


.section-login {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px; 
}

.section-login span {
  padding-right: 10px;
}

.type-user {
   font-weight: 600;
}

.section-login_btn {
  background: white;
  font-size: 14px;
  border: 1px solid  #e26b92;
  cursor: pointer;
}

